*{
    margin: 0;
    padding: 0
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#task{
    margin: 20px;
    padding: 20px;    
    color: aliceblue;
    background-color: #f9a5a5;
    text-align: center;
}
#head {
    margin: 20px;
    margin-bottom: 0;
    padding: 20px;    
    background-color: #f9a5a5;
}
#content, #border {
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 20px;    
    font-size: larger;
    text-align: center;
    line-height: 100px; 
}
#content {
    box-sizing: content-box;
    border: 1px solid black;
    background-color: #d3f9a5;
    margin-left: 300px;
}
#border {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #a5d3f9;
    position: absolute;
    right: 350px;
}
#container{
    margin: 20px;
    margin-top: 0;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px; 
    background-color: #f9a5a5;
}
.box{
    width: 500px;
    height: 300px;   
    border: 15px solid black;
    background-color: #d3f9a5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.box div{
    height: auto;
    width: 100px;
    border: 1px solid black;
    background-color: #87f69a;
}
.left{
    left: 20px;
    box-sizing: content-box;
}
.right{
    box-sizing: border-box;
    right: 20px;
    background-color: #a5d3f9;
    
   
}
