*{
    margin: 0;
    padding: 0
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#task{
    margin: 20px;
    padding: 20px;    
    color: aliceblue;
    background-color: #f9a5a5;
    text-align: center;
}
#head {
    margin: 20px;
    margin-bottom: 0;
    padding: 20px;    
    background-color: #f9a5a5;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 100px); 
    gap: 10px; 
    padding: 20px;
    background-color: #f0f0f0;
}
.item {
    background-color: #a5d3f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid #000;
}